@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './base.scss';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200px
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    // width < 1200px
    font-size: 50%;
  }
  @include respond(big-desktop) {
    // width < 1200px
    font-size: 75%;
  }
  @include respond(giant-desktop) {
    // width < 1200px
    font-size: 100%;
  }
}
body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

.App {
  background: radial-gradient(
    238.27% 100% at 50% 0%,
    $color-light-blue-radial 0%,
    $color-dark-blue-radial 100%
  );
  color: $color-white;
  font-weight: 400;
}
.container {
  display: grid;
  // height: 100vh;
  padding: 6rem 15rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  row-gap: 4rem;
  column-gap: 4rem;
  grid-template-areas: 'box1 box2' 'data  result' 'tableCalc .';

  @include respond(tab-port) {
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    grid-template-areas: 'box4' 'box1' 'box2' 'data' 'tableCalc';
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    row-gap: 1rem;
    grid-template-areas: 'box4' 'box1' 'box2' 'data' 'tableCalc';
  }
}

.selected-formula {
  grid-area: box1;
}
.input-mode {
  grid-area: box2;
}
.data {
  grid-area: data;
}
.result {
  grid-area: result;
}
.table-result {
  grid-area: tableCalc;
}
