@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './base.scss';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200px
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    // width < 1200px
    font-size: 50%;
  }
  @include respond(big-desktop) {
    // width < 1200px
    font-size: 75%;
  }
  @include respond(giant-desktop) {
    // width < 1200px
    font-size: 100%;
  }
}
body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

.App {
  background: radial-gradient(
    238.27% 100% at 50% 0%,
    $color-light-blue-radial 0%,
    $color-dark-blue-radial 100%
  );
  color: $color-white;
  padding: 10em 20rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;

  @include respond(tab-land) {
    padding: 10rem 10rem;
  }
  @include respond(tab-port) {
    padding: 1rem 1rem;
  }
  @include respond(phone) {
    display: block;
  }
}
