//collors

$color-white: #ffffff;
$color-light-blue-text: #add6eb;
$color-light-blue-radial: #99cce6;
$color-dark-blue-radial: #4582a1;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (max-width: 112.5em) {
      @content;
    }
  }
  @if $breakpoint == giant-desktop {
    @media (min-width: 112.5em) and( max-width: 180em) {
      @content;
    }
  }
}
