@import '../base.scss';

.section {
  & h3 {
    margin-bottom: 2.5rem;
  }

  &_water-ml {
    font-size: 6rem;
    @include respond(phone) {
      font-size: 8rem;
    }
  }
  & span {
    font-size: 3rem;
    color: $color-light-blue-text;
  }
  &_water-oz {
    font-size: 5rem;
    color: $color-light-blue-text;
    margin-left: 33%;
  }

  @include respond(phone) {
    padding: 6rem 0 0 6rem;
  }
}
