@import '../base.scss';

.section {
  padding: 4rem 2rem;

  & h3 {
    font-size: large;
  }
  &_water-ml {
    font-size: 7rem;
    text-align: end;
  }
  //   & span {
  //     font-size: 3rem;
  //     color: $color-light-blue-text;
  //   }
  //   &_water-oz {
  //     font-size: 5rem;
  //     color: $color-light-blue-text;
  //     margin-left: 33%;
  //   }

  //   @include respond(phone) {
  //     padding: 6rem 0 0 6rem;
  //   }
}
