@import '../base.scss';

.section {
  & h3 {
    margin-bottom: 2rem;
  }
  &_water-ml {
    font-size: 7rem;
    text-align: end;
  }
  & span {
    font-size: 3rem;
    color: $color-light-blue-text;
  }
  &_water-oz {
    font-size: 5rem;
    color: $color-light-blue-text;
    text-align: end;
  }

  @include respond(phone) {
    .section {
      & h3 {
        margin-bottom: 0;
      }
      &_water-ml {
        font-size: 3.5rem;
      }
      & span {
        font-size: 1.5rem;
      }
      &_water-oz {
        font-size: 2.5rem;
      }
    }
  }
}
