@import '../base.scss';

.select {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;

  & h3 {
    margin-bottom: 1rem;
  }
  select {
    height: 4rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
    font-size: larger;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 4rem;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
    @include respond(phone) {
      font-size: medium;
    }
  }
}
