@import '../base.scss';

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  @include respond(phone) {
    width: 100%;
    font-size: smaller;
  }
}
.section_data-header {
  margin-bottom: 2rem;
}
.tr {
  color: $color-light-blue-text;
  font-size: 0.5rem;
}

td {
  font-size: 1.5rem;
  line-height: 2.7rem;
}
.table-data-row-top {
  border-bottom: 1px solid $color-white;
}
.table-data-row-bottom {
  border-top: 1px solid $color-white;
}

.table-data-cell-right {
  border-right: 1px solid $color-white;
}
